@mixin num-point($num, $img) {
  &:nth-child(#{$num}) {
		&::before{
			background-image: url("../images/#{$img}-#{$num}.svg") !important;
		}
  }
}

@mixin content-columns($columnCount, $columnGap: $grid-gutter-width) {
  -webkit-column-count: $columnCount;
     -moz-column-count: $columnCount;
          column-count: $columnCount;
  -webkit-column-gap: $columnGap;
     -moz-column-gap: $columnGap;
          column-gap: $columnGap;
  
}
