.dropdown-menu{
  min-width: 260px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,.15);
  box-shadow: 1px 1px 15px rgba(0,0,0,.15);
  left: -15px;
  margin-top: -1px;
  border: 0;
  .dropdown-item{
    color: rgba(102,102,102,.85);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    border-bottom: 1px solid #ececec;
    display: block;
    padding: 10px 0;
    line-height: 1.3;
    &:hover{
      background-color: transparent;
      color: rgba(17,17,17,.85);
    }
    &:last-child{
      border-bottom: 0;
    }
  }
}
.header-bottom .navbar-expand-lg .navbar-nav > .nav-item{
  position: relative;
  &::before,
  &::after{
    bottom: -2px;
    z-index: 10;
    opacity: 0;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &::before {
    z-index: -999;
    border-width: 11px;
    margin-left: -11px;
    border-bottom-color: rgba(214,229,255,0);
  }
  &::after{
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
  }
}