// FONTS
$font-family-sans-serif:  'ProximaNova', "Segoe UI", sans-serif !default;

// COLORS
$primary: #1f65c0;
$success: #01D461;
$link-color: #1970c2;
$red: #fa1414;

// PADDINGS
$section-padding: 50px 0;